@page
@model razor_gpa_web_app.Pages.Grades.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.GradeChar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.GradeChar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.SubjectModule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.SubjectModule.SubjectModuleID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.GPA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.GPA.GPAID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.ApplicationUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.Semester.SemesterID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade.Degree.DegreeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Grade.GradeID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
