
@page
@model razor_gpa_web_app.Pages.GetSingleGPAs.GetSingleGPAs

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


    @if (@Model.StudentPaperGradeForSemesterOneList.Any())
    {
        <h2>Semester 01</h2>

        <div class=".container">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterOneList[0].SubjectName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterOneList[0].SubjectGrade)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.StudentPaperGradeForSemesterOneList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubjectGrade)
                            </td>
                        </tr>
                    }
                </tbody>
                <tbody class="bg-secondary">
                    <tr>
                        <td class="text-white">
                            Semester 01 SGPA  : 
                        </td>
                        <td class="text-white">
                            @if (!Double.IsNaN(Model.SemesterOneGPA) && !Double.IsInfinity(Model.SemesterOneGPA))
                            {
                            <h4>
                                @Model.SemesterOneGPA
                            </h4>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h2>Semester 01</h2>
        <h3>Not yet published.</h3>
    }

    <span class="padding-left padding-right padding-top padding-bottom"></span>

    @if (@Model.StudentPaperGradeForSemesterTwoList.Any())
    {
        <h2>Semester 02</h2>

        <div class=".container">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterTwoList[0].SubjectName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterTwoList[0].SubjectGrade)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.StudentPaperGradeForSemesterTwoList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubjectGrade)
                            </td>
                        </tr>
                    }
                </tbody>
                <tbody class="bg-secondary">
                    <tr>
                        <td class="text-white">
                            Semester 02 SGPA  :
                        </td>
                        <td class="text-white">
                            @if (!Double.IsNaN(Model.SemesterTwoGPA) && !Double.IsInfinity(Model.SemesterTwoGPA))
                            {
                                <h4>
                                    @Model.SemesterTwoGPA
                                </h4>
                            }
                        </td>
                    </tr>
                    <tr class="bg-danger">
                        <td class="text-white">
                            Year 01 YGPA :
                        </td>
                        <td class="text-white ">
                            <h4>
                                @(Math.Round(((@Model.SemesterOneGPA + @Model.SemesterTwoGPA)/2), 2 ))
                            </h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h2>Semester 02</h2>
        <h3>Not yet published.</h3>
    }
    
    <span stye="padding: 5px;"></span>

        @if (@Model.StudentPaperGradeForSemesterThreeList.Any())
        {
            <h2>Semester 03</h2>

            <div class=".container">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterThreeList[0].SubjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterThreeList[0].SubjectGrade)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.StudentPaperGradeForSemesterThreeList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectGrade)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tbody class="bg-secondary">
                        <tr>
                            <td class="text-white">
                                Semester 03 SGPA  :
                            </td>
                            <td class="text-white">
                                @if (!Double.IsNaN(Model.SemesterThreeGPA) && !Double.IsInfinity(Model.SemesterThreeGPA))
                                {
                                    <h4>
                                        @Model.SemesterThreeGPA
                                    </h4>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h2>Semester 03</h2>
            <h3>Not yet published.</h3>
        }

        <span class="padding-left padding-right padding-top padding-bottom"></span>

        @if (@Model.StudentPaperGradeForSemesterFourList.Any())
        {
            <h2>Semester 04</h2>

            <div class=".container">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterFourList[0].SubjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterFourList[0].SubjectGrade)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.StudentPaperGradeForSemesterFourList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectGrade)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tbody class="bg-secondary">
                        <tr>
                            <td class="text-white">
                                Semester 04 SGPA  :
                            </td>
                            <td class="text-white">
                                @if (!Double.IsNaN(Model.SemesterFourGPA) && !Double.IsInfinity(Model.SemesterFourGPA))
                                {
                                    <h4>
                                        @Model.SemesterFourGPA
                                    </h4>
                                }
                            </td>
                        </tr>
                        <tr class="bg-danger">
                            <td class="text-white">
                                Year 02 YGPA :
                            </td>
                            <td class="text-white ">
                                <h4>
                                    @(Math.Round(((@Model.SemesterThreeGPA + @Model.SemesterFourGPA)/2), 2 ))
                                </h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h2>Semester 04</h2>
            <h3>Not yet published.</h3>
        }

        <span class="padding-left padding-right padding-top padding-bottom"></span>

        @if (@Model.StudentPaperGradeForSemesterFiveList.Any())
        {
            <h2>Semester 05</h2>

            <div class=".container">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterFiveList[0].SubjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterFiveList[0].SubjectGrade)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.StudentPaperGradeForSemesterFiveList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectGrade)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tbody class="bg-secondary">
                        <tr>
                            <td class="text-white">
                                Semester 05 SGPA  :
                            </td>
                            <td class="text-white">
                                @if (!Double.IsNaN(Model.SemesterFiveGPA) && !Double.IsInfinity(Model.SemesterFiveGPA))
                                {
                                    <h4>
                                        @Model.SemesterFiveGPA
                                    </h4>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h2>Semester 05</h2>
            <h3>Not yet published.</h3>
        }

        <span class="padding-left padding-right padding-top padding-bottom"></span>

        @if (@Model.StudentPaperGradeForSemesterSixList.Any())
        {
            <h2>Semester 06</h2>

            <div class=".container">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterSixList[0].SubjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterSixList[0].SubjectGrade)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.StudentPaperGradeForSemesterSixList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectGrade)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tbody class="bg-secondary">
                        <tr>
                            <td class="text-white">
                                Semester 06 SGPA  :
                            </td>
                            <td class="text-white">
                                @if (!Double.IsNaN(Model.SemesterSixGPA) && !Double.IsInfinity(Model.SemesterSixGPA))
                                {
                                    <h4>
                                        @Model.SemesterSixGPA
                                    </h4>
                                }
                            </td>
                        </tr>
                        <tr class="bg-danger">
                            <td>
                                Year 03 YGPA :
                            </td>
                            <td class="text-white ">
                                <h4>
                                    @(Math.Round(((@Model.SemesterFiveGPA + @Model.SemesterSixGPA) / 2), 2 ))
                                </h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h2>Semester 06</h2>
            <h3>Not yet published.</h3>
        }

        <span class="padding-left padding-right padding-top padding-bottom"></span>

        @if (@Model.StudentPaperGradeForSemesterSevenList.Any())
        {
            <h2>Semester 07</h2>

            <div class=".container">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterSevenList[0].SubjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterSevenList[0].SubjectGrade)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.StudentPaperGradeForSemesterSevenList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectGrade)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tbody class="bg-secondary">
                        <tr>
                            <td class="text-white">
                                Semester 07 SGPA  :
                            </td>
                            <td class="text-white">
                                @if (!Double.IsNaN(Model.SemesterSevenGPA) && !Double.IsInfinity(Model.SemesterSevenGPA))
                                {
                                    <h4>
                                        @Model.SemesterSevenGPA
                                    </h4>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h2>Semester 07</h2>
            <h3>Not yet published.</h3>
        }

        <span class="padding-left padding-right padding-top padding-bottom"></span>

        @if (@Model.StudentPaperGradeForSemesterEightList.Any())
        {
            <h2>Semester 08</h2>

            <div class=".container">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterEightList[0].SubjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterEightList[0].SubjectGrade)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.StudentPaperGradeForSemesterEightList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectGrade)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tbody class="bg-secondary">
                        <tr>
                            <td class="text-white">
                                Semester 08 SGPA  :
                            </td>
                            <td class="text-white">
                                @if (!Double.IsNaN(Model.SemesterEightGPA) && !Double.IsInfinity(Model.SemesterEightGPA))
                                {
                                    <h4>
                                        @Model.SemesterEightGPA
                                    </h4>
                                }
                            </td>
                        </tr>
                        <tr class="bg-danger">
                            <td>
                                Year 04 YGPA :
                            </td>
                            <td class="text-white ">
                                <h4>
                                    @(Math.Round(((@Model.SemesterSevenGPA + @Model.SemesterEightGPA) / 2), 2 ))
                                </h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h2>Semester 08</h2>
            <h3>Not yet published.</h3>
        }

        <span class="padding-left padding-right padding-top padding-bottom"></span>

        @if (@Model.StudentPaperGradeForSemesterNineList.Any())
        {
            <h2>Semester 09</h2>

            <div class=".container">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterNineList[0].SubjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterNineList[0].SubjectGrade)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.StudentPaperGradeForSemesterNineList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectGrade)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tbody class="bg-secondary">
                        <tr>
                            <td class="text-white">
                                Semester 09 SGPA  :
                            </td>
                            <td class="text-white">
                                @if (!Double.IsNaN(Model.SemesterNineGPA) && !Double.IsInfinity(Model.SemesterNineGPA))
                                {
                                    <h4>
                                        @Model.SemesterNineGPA
                                    </h4>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h2>Semester 09</h2>
            <h3>Not yet published.</h3>
        }

        <span class="padding-left padding-right padding-top padding-bottom"></span>

        @if (@Model.StudentPaperGradeForSemesterTenList.Any())
        {
            <h2>Semester 10</h2>

            <div class=".container">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterTenList[0].SubjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.StudentPaperGradeForSemesterTenList[0].SubjectGrade)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.StudentPaperGradeForSemesterTenList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectGrade)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tbody class="bg-secondary">
                        <tr>
                            <td class="text-white">
                                Semester 10 SGPA  :
                            </td>
                            <td class="text-white">
                                @if (!Double.IsNaN(Model.SemesterTenGPA) && !Double.IsInfinity(Model.SemesterTenGPA))
                                {
                                    <h4>
                                        @Model.SemesterTenGPA
                                    </h4>
                                }
                            </td>
                        </tr>
                        <tr class="bg-danger">
                            <td class="text-white">
                                Year 05 YGPA :
                            </td>
                            <td class="text-white ">
                                <h4>
                                    @(Math.Round(((@Model.SemesterNineGPA + @Model.SemesterTenGPA) / 2), 2 ))
                                </h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h2>Semester 10</h2>
            <h3>Not yet published.</h3>
        }
