@page
@model razor_gpa_web_app.Pages.SubjectModules.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SubjectModule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectModule.SubjectModuleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectModule.SubjectModuleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectModule.SubjectModuleCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectModule.SubjectModuleCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectModule.SubjectModuleCreditUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectModule.SubjectModuleCreditUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectModule.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectModule.Degree.DegreeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SubjectModule.SubjectModuleID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
