@page
@model razor_gpa_web_app.Pages.SubjectModules.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectModule[0].SubjectModuleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectModule[0].SubjectModuleCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectModule[0].SubjectModuleCreditUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectModule[0].Degree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SubjectModule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectModuleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectModuleCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectModuleCreditUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Degree.DegreeID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubjectModuleID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SubjectModuleID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubjectModuleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
