@page
@model razor_gpa_web_app.Pages.Semesters.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Semester[0].SemesterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester[0].SemesterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester[0].AcademicYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Semester) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicYear.AcademicYearID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SemesterID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SemesterID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SemesterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
