
@page
@model razor_gpa_web_app.Pages.GetAllGPAs.GetSGPAs

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>SGPA</h1>

<div class=".container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StudentGPAList[0].RegNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentGPAList[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentGPAList[0].LastName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.StudentGPAList[0].SGPAValueForSemOne)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentGPAList[0].SGPAValueForSemTwo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentGPAList[0].SGPAValueForSemThree)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentGPAList[0].SGPAValueForSemFour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentGPAList[0].SGPAValueForSemFive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentGPAList[0].SGPAValueForSemSix)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentGPAList[0].SGPAValueForSemSeven)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentGPAList[0].SGPAValueForSemEight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentGPAList[0].SGPAValueForSemNine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StudentGPAList[0].SGPAValueForSemTen)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StudentGPAList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SGPAValueForSemOne)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SGPAValueForSemTwo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SGPAValueForSemThree)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SGPAValueForSemFour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SGPAValueForSemFive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SGPAValueForSemSix)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SGPAValueForSemSeven)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SGPAValueForSemEight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SGPAValueForSemNine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SGPAValueForSemTen)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
