@page
@model razor_gpa_web_app.Pages.Papers.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Paper</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paper.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paper.Grade.GradeID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paper.SubjectModule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paper.SubjectModule.SubjectModuleID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paper.GPA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paper.GPA.GPAID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paper.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paper.ApplicationUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paper.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paper.Semester.SemesterID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paper.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paper.Degree.DegreeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Paper.PaperID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
