@page
@model razor_gpa_web_app.Pages.YGPAs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.YGPA[0].YGPAValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YGPA[0].StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YGPA[0].SubjectModuleID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.YGPA) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YGPAValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectModuleID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.YGPAID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.YGPAID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.YGPAID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
